 body {
     background-color: #637081;
 }

    .nav-item  a{
    font-family: Helvetica;
                color: whitesmoke !important;

    }

    .nav-item a:hover {
              color: #218d80;
              background-color: rgba(0,0,0,0.1);
    }
    .nav-item a.active {
        border: solid #21618D 5px;
        padding: 0px 0px;
    }
    .navbar{
    margin-bottom: 5%;
    }

     .navbar-toggler{background-color:white;}
.card{
    width:18rem;
    height:30rem;
    background: linear-gradient(315deg, #637081 0%, #7c98b3 74%);

    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    border-radius: 2em;


    }

    .card-body a{
        background-color: transparent !important;
        border:0px;

    }
    .card-text{
    color:white;
    margin-top:8em;
    font-weight: 500;
 font-family: Helvetica;font-size: 22px;


    }
    .card-text1{
        color:white;

    }
    .row {
    padding-left:2%;

    }
      @media (max-width: 992px){
      .row{
        padding-left: 25%;}
        .card{
    border-radius:2em;
    width:20rem;

    background-color: #1E90FF !important;
    }
    .nav-item a.active {
        border: solid #21618D 5px;
        padding: 0px 0px;
        width:70px;
        padding-left:0.5%
    }

        }

          @media (max-width: 550px){
           .row{
           padding-left:15%;
           }

        }
        @media (max-width: 400px){
           .row{
           padding-left:5%;
           }

        }


