 body{

background-color: #748ba3;
}


.nav-item  a{
    font-family: Helvetica;
                color: #21618D !important;

    }

 .nav-item a:hover {
              color: #21618D;
    }

 .nav-item a.active {
        border: solid #21618D 5px;
        padding: 0px 0px;
    }

 .navbar{
    margin-bottom: 5%;

    }

  .card{

  margin-left:10%;
  margin-right:20%;
  background: linear-gradient( #eeaeca, #94bbe9 80%) !important;
      box-shadow: 5px 5px 10px rgba(0,0,0,.4);
          border-radius: 1em;
          margin-bottom:5%;
  }

    @media (max-width: 992px){

    .nav-item a.active {
        border: solid #21618D 5px;
        padding: 0px 0px;
        width:70px;
        padding-left:0.5%;
    }
    }
