<!DOCTYPE html>
<html lan="eng">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tech Analogy Login </title>
    <link rel="stylesheet" href={{content}} >
</head>
<body>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>

<form class="box" action ="" method="POST">
    {% csrf_token %}
    <h1>
        Welcome!
    </h1>
    <input type="text" name="username" placeholder="Enter Unique Id" Id ="username">
    <input type="password" name="password" placeholder="Enter password " Id ="password">
    <input type="submit" name="" value="Sign in">
</form>
</body>
</html>
