{%  extends "Dashboard/Navbar.html" %}


{% block Style %}
<link rel="stylesheet" type="text/css" href="/static/Css/leave.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mochiy+Pop+P+One ">
{% endblock %}

{% block content %}

<div class="personal">
          <div class="container-fluid ">
                <div class="row align-items-center">
                    <div class="col-md-0  mt-0 ">
                      </div>

                    <div class="col-md-12 mt-0">
                        <div class="form-bg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-container">
                                                <h3 class="title">Leave Application</h3>
                                                <form class="form-horizontal" action="{% url 'leave_creation' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group " style="width:100%;">
                                                        <label> Leavetype </label>
                                                        <select  name="leavetype" class="form-control" >
                                                                        <option value="sick">sick Leave</option>
                                                                        <option value="study">study Leave</option>
                                                                        <option value="casual">Casual Leave</option>
                                                                        <option value="emergency">emergency Leave</option>
                                                        </select>
                                                    </div>
                                                    <div></div>
                                                    <div class="form-group">
                                                        <label>Start date</label>
                                                        <input type="date" class="form-control"  name="startdate">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>End date</label>
                                                        <input type="date" class="form-control" name="enddate">
                                                    </div>
                                                    <div class="form-group" style="width:100%; ">
                                                        <label>Reason</label>
                                                        <textarea class="form-control " name="reason" ></textarea>
                                                    </div>
                                                    <div>
                                                        <input type="hidden" name="department" value="{{ employees.get_department }}">
                                                    </div>
                                                    <div>
                                                        <input type="hidden" name="applied_date" id="A_Date">
                                                    </div>

                                                <button class="btn signup">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                     </div>


          </div>
</div>
</div>

 <script type="text/javascript">
    var d = new Date();
    d=d.toISOString().substring(0,10);
    document.getElementById("A_Date").value = d;
  </script>

{% endblock %}