{%  extends "Dashboard/Navbar.html" %}


{% block Style %}
<link rel="stylesheet" type="text/css" href="/static/Css/personal.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mochiy+Pop+P+One ">
{% endblock %}

{% block content %}


<body>
<div class="personal">
	<div class="container-fluid register">
        <div class="row ">
            <div class="col-md-6">
                <div class="card " >
                    <div class="row align-items-center">
                        <div class="col-md-4 ms-7">
                        </div>
                         <div class="col-md-4 ms-7">
                             <br>
                            <img class="card-img" src="{{employees.image.url}}" alt="Card image cap" >

                        </div>

                    </div>
                    <div class="row">

                         <div class="col-md ms-2">
                             <br>
                             <div class="name" style="color:white;font-size:25px;font-family: 'Mochiy Pop P One', sans-serif; text-align:center;">
                                 {{employees.get_name}}
                             </div>
                             <div class="name" style="color:white;font-family: 'Mochiy Pop P One', sans-serif; text-align:center;">
                                 {{employees.get_role}}
                             </div>
                             <div>                             <br><br><br><br><br><br><br>
                             </div>


                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <br>
                <div class="left">

                <div class="row ">

                    <h1>Personal Details</h1>
                    <hr>
                    <div class="col-md-6 ">
                        <div class="font-weight-bold"><strong>Email</strong>:<br>{{employees.email}}
                        </div>

                    </div>
                    <div class="col-md-6 ">
                        <div class="font-weight-bold"><strong>phone </strong>:<br>
                            {{employees.phoneNumber}}
                        </div>
                    </div>

                </div>


                <br><br><br><br>
                 <div class="row ">

                    <div class="col-md-6 ">
                        <br>
                        <div class="font-weight-bold"><strong>Employee Id </strong>:<br>{{employees.employeeid}}
                        </div>

                    </div>
                    <div class="col-md-6 "><br>
                        <div class="font-weight-bold"><strong>Domain </strong> :<br>
                            {{employees.get_department}}
                        </div>
                    </div>

                </div>
            </div>

            </div>

            </div>
        </div>


	</div>
</body>

{% endblock content %}
