{%  extends "Dashboard/Navbar.html" %}


{% block Style %}
<link rel="stylesheet" type="text/css" href="/static/Css/leave.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mochiy+Pop+P+One ">
{% endblock %}

{% block content %}
{% if employee.get_role != "Executives" %}
<div class="personal">
          <div class="container-fluid ">
                <div class="row align-items-center">
                    <div class="col-md-0  mt-0 ">
                      </div>

                    <div class="col-md-12 mt-0">
                        <div class="form-bg">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-container">
                                                <h3 class="title">Task assignment</h3>
                                                <form class="form-horizontal" action="{% url 'leave_creation' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label>Assigned By</label>
                                                        <select  name="Assigned By" class="form-control" >
                                                            <option value="{{employees.id}}"> {{employees.get_name}} </option>
                                                        </select>
                                                    </div>
                                                     <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="text" class="form-control"  onkeydown="return false" value =" {{employees.email}}"name="startdate">
                                                    </div>
                                                     <div class="form-group " >
                                                        <label> Assigned To</label>
                                                        <select  name="Assigned To" class="form-control" >
                                                            {% if employees.get_role == "TechnicalHead" %}
                                                             {% for j in employee %}
                                                                <option value="{{j.id}}">{{j.get_name}}</option>
                                                             {% endfor %}

                                                             {% else  %}
                                                             {% for j in dep_employee %}
                                                               <option value="{{j.id}}">  {{j.get_name}}  </option>
                                                             {% endfor %}

                                                             {% endif %}
                                                        </select>
                                                    </div>

                                                     <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="text" class="form-control"  name="startdate">
                                                    </div>


                                                     <div class="form-group" style="width:100%;" >
                                                        <label>Task Description</label>
                                                        <textarea class="form-control " name="Description" ></textarea>
                                                    </div>
                                                     <div class="form-group" style="width:100%;">
                                                        <label>Attachment</label>
                                                        <input type="file" class="form-control"  name="attachment">
                                                    </div>


                                                    <div class="form-group">
                                                        <label>Dead Line</label>
                                                        <input type="date" class="form-control" name="Deadline">
                                                    </div>

                                                    <div>
                                                        <input type="hidden" name="department" value="{{ i.user.employee.get_department }}">
                                                    </div>

                                                <button class="btn signup">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                     </div>


          </div>
</div>
</div>
{% endif %}

{% endblock %}