{%  extends "Dashboard/Navbar.html" %}
{% block Style %}
    <link rel="stylesheet" type="text/css" href="/static/Css/LeaveRequest.css">
{% endblock %}

{% block content %}

{% for i in resignation %}

  <div class="card">
    <div class="card-body">
      <p class="card-text"> <br> <strong>Name</strong>: {{i.user.employee.get_name}} <br><br>
          <strong>Department</strong> : {{i.user.employee.get_department}} <br> <br>
          <strong>Applied Date</strong> : {{i.applied_date}} <br> <br>
          <strong>Reason</strong> : {{i.reason}} <br> <br>


      </p>

        <div class="buttons">
        <form class="row g-6" action="{% url 'Resignation_request' %} " method="POST" >
            {% csrf_token %}
              <input type="hidden"  name="id" value="{{i.id}}">
            <div class="col-auto">
              <button type="submit"  name="accept"  class="btn btn-primary mb-3">Accept</button>
            </div>
            <div class="col-auto">
              <button type="submit"   name="reject"  class="btn btn-primary mb-3">Reject</button>
            </div>
          </form>
        </div>
    </div>
  </div>

{% endfor %}
{% endblock %}